{% extends 'main.html' %}
{% load static %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>All contacts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Contact</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ message.full_name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
        
             

      </div>

    </section>

  </main><!-- End #main -->

{% endblock content %}