{% load static %}

<!-- ======= Sidebar ======= -->
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Cost of Living Analysis</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'cost_of_living' %}">
            <i class="bi bi-circle"></i><span>General Data</span>
          </a>
        </li>
        <li>
          <a href="{% url 'australia_analysis' %}">
            <i class="bi bi-circle"></i><span>Australia Analysis</span>
          </a>
        </li>
        <li>
          <a href="{% url 'germany_analysis' %}">
            <i class="bi bi-circle"></i><span>Germany Analysis</span>
          </a>
        </li>
        <li>
          <a href="{% url 'grafikoni' %}">
            <i class="bi bi-circle"></i><span>Grafikoni za vkupni proseci</span>
          </a>
        </li>
        <li>
          <a href="{% url 'godisni_proseci' %}">
            <i class="bi bi-circle"></i><span>Grafikoni za proseci po godini</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Analysis by Regions</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'europe_analysis' %}">
            <i class="bi bi-circle"></i><span>Europe</span>
          </a>
        </li>
        <li>
          <a href="{% url 'asia_analysis' %}">
            <i class="bi bi-circle"></i><span>Asia</span>
          </a>
        </li>
        <li>
          <a href="{% url 'africa_analysis' %}">
            <i class="bi bi-circle"></i><span>Africa</span>
          </a>
        </li>
        <li>
          <a href="{% url 'north_america_analysis' %}">
            <i class="bi bi-circle"></i><span>North America</span>
          </a>
        </li>
        <li>
          <a href="{% url 'oceania_analysis' %}">
            <i class="bi bi-circle"></i><span>Oceania</span>
          </a>
        </li>
        <li>
          <a href="{% url 'south_america_analysis' %}">
            <i class="bi bi-circle"></i><span>South America</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Analysis by Countries</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'australia_analysis' %}">
            <i class="bi bi-circle"></i><span>Australia Analysis</span>
          </a>
        </li>
        <li>
          <a href="{% url 'germany_analysis' %}">
            <i class="bi bi-circle"></i><span>Germany Analysis</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    

    <li class="nav-heading">Other Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'my_profile' %}">
        <i class="bi bi-person"></i>
        <span>My Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'contact' %}">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->
    {% if request.user.is_superuser %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'all_contacts' %}">
        <i class="bi bi-envelope"></i>
        <span>All Contacts</span>
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->
  
  <!-- End Sidebar-->